body {
  font-family: sans-serif;
}

.main-header {
  background: #808080;
}

.main-header img {
  width: 100px;
}

.main-header ul li {
  display: inline-block;
  text-align: end;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.main-header ul li:hover ul {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
  background-color: blue;
}

.main-header ul li ul {
  position: absolute;
  top: 154%;
  left: 26px;
  width: 265px;
  opacity: 0;
  visibility: hidden;
  background: blue;
  border: 15px solid #fafafa;
  color: white;
  text-align: start;
}

.main-header ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 30px;
  color: #111;
  position: relative;
}

.main-header ul li a::after {
  content: '';
  width: 0;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -23px;
  -webkit-transition: .3s;
  transition: .3s;
  background-color: blue;
}

.main-header ul li a:hover {
  color: blue;
}

.main-header ul li a:hover::after {
  width: 50%;
  margin-left: 30px;
}

.main-header .btn {
  border-radius: 30px;
  padding: 10px 30px;
}

.header ul li a::after:hover {
  width: 100%;
}

.baner-section {
  background: #f6f9fc;
}

.baner-section .btn {
  border-radius: 30px;
  padding: 10px 30px;
}

.baner-section .baner-content {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.baner-section img {
  width: 770px;
  border-radius: 410px 0 233px 401px;
  margin-left: 109px;
}

.about-section {
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-section h6 {
  color: #3763eb;
}

.about-section h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0;
  position: relative;
}

.about-section h1::after {
  content: '';
  width: 70px;
  height: 3px;
  background-color: #3763eb;
  position: absolute;
  top: 115%;
  left: 0;
}

.about-section p {
  margin-top: 35px;
}

.about-section .mtop {
  margin-top: 100px;
}

.about-section .about-item {
  background: #f6f9fc;
  padding: 50px 30px;
  margin: 0 10px;
  border-radius: 6px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.about-section .about-item:hover {
  background: #3763eb;
}

.about-section .about-item:hover:hover h4,
.about-section .about-item:hover:hover p {
  color: white;
}

.about-section .about-item:hover:hover .icon-item {
  background-color: white;
  color: #3763eb;
}

.about-section .about-item h4 {
  line-height: 28px;
  color: #444;
  font-size: 1.3rem;
  font-weight: 500;
}

.about-section .about-item .icon-item {
  width: 60px;
  height: 60px;
  background: #3763eb;
  border-radius: 50% 50% 50% 0;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  color: white;
}

.about-section .about-item .line-d {
  width: 50px;
  height: 2px;
  background: #3763eb;
  margin: 15px 0;
}

.about-section .about-item p {
  font-size: 1rem;
  color: #888;
}

.service-section {
  background: url("./img/video-bg.jpg") no-repeat top center;
  background-size: cover;
  padding: 200px 0;
  position: relative;
  z-index: 1;
}

.service-section::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.service-section h6 {
  color: rgba(255, 255, 255, 0.726);
  text-transform: uppercase;
  font-weight: 400;
}

.service-section h1 {
  color: #fff;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.service-section .line-d2 {
  width: 60px;
  height: 2px;
  background: #fff;
  display: inline-block;
}

.service-section p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.76);
  width: 38vw;
  margin: auto;
}

.service-section .bg-icon {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  background: #fff;
  font-size: 30px;
  color: #3763eb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  display: inline-block;
  margin-top: 98px;
  position: relative;
}

.service-section .bg-icon a {
  text-decoration: none;
}

.service-section .bg-icon:hover {
  background-color: #3763eb;
  color: white;
}

.service-section .bg-icon:hover a {
  color: white;
}

.service-section .bg-icon::before {
  content: '';
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: playbtn 2s ease-out infinite;
          animation: playbtn 2s ease-out infinite;
}

@-webkit-keyframes playbtn {
  0%, 30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes playbtn {
  0%, 30% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */